body{
    flex-direction: column;
  
    /*Font importada do fonts.google.com eu não inventei esse codigo,
    é só copiar do google fonts*/
  
    font-family: 'Poppins', sans-serif;
    background-color: rgb(151, 12, 250);
  
  }
  li{
    list-style: none;
    border: 3px solid;
    border-radius: 10px;
    margin: 30px;
    width: 150px;
    line-height: 40px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
  }
  li:hover, a:hover{
    background-color: rgb(151, 12, 250);
    color: white;
  }
  ul{
    list-style: none;
   color: rgb(0, 0, 0);
  
  }
  a{
    text-decoration: none;
    color: rgb(0, 0, 0); 
  }
  
  img{
    max-width: 150px;
  border-radius: 100px;
  border: 3px solid rgb(255, 255, 255);
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    width: 300px;
  }
  @keyframes float { 
  0%{
    transform: translateY(20px);
  
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(20px);
  }
  }
  
  